/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

@mixin mq($breakpoint: medium) {
    @if $breakpoint == xs {
      @media screen and (min-width: 320px) {
        @content;
      }
    } @else if $breakpoint == sm {
      @media screen and (min-width: 480px) {
        @content;
      }
    } @else if $breakpoint == md {
      @media screen and (min-width: 768px) {
        @content;
      }
    } @else if $breakpoint == lg {
      @media screen and (min-width: 1024px) {
        @content;
      }
    } @else if $breakpoint == xl {
      @media screen and (min-width: 1280px) {
          @content;
      }
    }
  }


/** 全体 **/
.flash {
    margin: 0;
    font-weight: bold;
}
.notice {
    color: #0C56B2;
}
.alert {
    color: red;
}
#error_explanation {
    margin: 10px;
    h2 {
        font-size: 20px;
        display: inline-block;
        background-color: #fb0b0bcc;
        padding: 15px 30px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
    }
    ul {
        margin: 0;
        li {
            color: red;
            font-weight: bold;
        }
    }
}
form {
    margin:30px 50px 50px 50px;
}
.field {
    margin-bottom: 15px;
    label {
        font-weight: bold;
        display: inline-block;
        padding: 5px;
    }
    #user_name, #user_email, #user_password, #user_password_confirmation, #user_current_password {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}
/** ヘッダー **/
nav {
    a {
        margin-right: 10px;
    }
}

.messages_cover {
    @include mq(sm) {
        padding: 0 5px;
    }
    @include mq(md) {
        padding: 0 25px;
    }
    @include mq(lg) {
        padding: 0 100px;
    }
    @include mq(xl) {
        padding: 0 200px;
    }
    #messages {
        border: 1px solid #FAFAFA;
            border-radius: 5px;
            background-color: #e2f4fd3a;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    
            @include mq(xs) {
                padding: 15px;
            }
            @include mq(sm) {
                padding: 15px;
            }
            @include mq(md) {
                padding: 15px;
            }
            @include mq(lg) {
                padding: 15px 25px;
            }
            @include mq(xl) {
                padding: 30px 50px;
            }
            .message_right {
                text-align: left;
                margin: 0 0 0 auto;
                justify-content: flex-end;
            }
            .message_left {
                justify-content: left;
            }
            .message {
                margin-bottom: 5px;
                max-width: 45%;
                display: flex;
                flex-wrap: wrap;
                .me_message {
                    background-color: white;
                }
                .you_message {
                    background-color: dodgerblue;
                    color: white;
                }
                span {
                    width: 100%;
                    font-size: 12px;
                    font-weight: bold;
                    padding-left: 15px;
                    margin-bottom: 3px;
                }
                p {
                    margin: 0;
                    display: inline-block;
                    padding: 10px 30px;
                    border-radius: 10px;
                    border: 1px solid #F2F2F2;
                    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
    }
}